
@font-face {
    font-family: 'bentonsansbold';
    src: url('bentonsans_bold-webfont.woff2') format('woff2'),
         url('bentonsans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsansregular';
    src: url('bentonsans_regular-webfont.woff2') format('woff2'),
         url('bentonsans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsansbook';
    src: url('BentonSans-Book.eot');
    src: local('?'), url('BentonSans-Book.woff') format('woff'),
         url('BentonSans-Book.ttf') format('truetype'), url('BentonSans-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsansmedium';
    src: url('BentonSans-Medium.eot');
    src: local('?'), url('BentonSans-Medium.woff') format('woff'),
         url('BentonSans-Medium.ttf') format('truetype'), url('BentonSans-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsanslight';
    src: url('BentonSans-Light.eot');
    src: local('?'), url('BentonSans-Light.woff') format('woff'),
         url('BentonSans-Light.ttf') format('truetype'), url('BentonSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}