@import "../fonts/stylesheet.css";
@import "includes/variables";

body {
    background-color: gray;
    margin: 0;
}

/* Player */
.no-height {
    height: 0 !important;
}

@media screen and (max-width: 39.9375em) {
    .player-container {
        width: 100%;
    }
}
@media screen and (min-width: 40em) {
    .player-container {
        width: 500px;
    }
}


.player-container {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    color: $color-white;
    height: 120px;
    margin: 20px auto 0;
    overflow: hidden;
}

.heading-name,
.heading-album,
.heading-link {
    font-family: bentonsansregular;
    font-size: .7em;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 1.7;
    margin-left: 18px;
    margin-top: 18px;
    z-index: 2;
    position: relative;
    color: $color-white;
    display: block;
    width: 110px;
}

.heading-link {
    text-decoration: underline;
    cursor: pointer;
}

.heading-link-container {
    margin-top: 50px;
}

.player-cover {
    height: 160px;
    background-position: top center;
    background-size: cover;
    transition: height .4s;
}


.track-info {
    font-family: bentonsanslight;
    padding: $gutter $gutter 5px 0;
    position: absolute;
    z-index: 2;
    left: 106px;
    bottom: 0;
    float: left;
    width: 74%;
}

.track-name {
    margin: 5px 0 0 25px;
    font-size: 23px;
}

.track-tag,
.track-link {
    font-family: bentonsansregular;
    color: $color-white;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.track-link:hover {
    text-decoration: none;
}

.track-link-wrapper {
    overflow: hidden;
}

.player-progress-container-wrapper {
    display: none; //if needed
    position: relative;
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 42px;
    cursor: pointer;
}

.player-progress-container {
    position: absolute;
    left: $gutter;
    top: 0;
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 40px;
}

.player-progress-value {
    position: absolute;
    width: 2px;
    top: 0;
    left: $gutter;
    bottom: 0;
    background-color: $color-white;
    z-index: 2;

    &:after {
        position: absolute;
        bottom: -3px;
        right: -2px;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-white;
    }
}

.player-options {
    display: flex;
    justify-content: space-between;
    padding: $gutter 0 0;
    width: 365px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;

}

.player-buttons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
}

.player-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: #D2D7DB;

    background-color: transparent;
    border: 0;
    outline: 0;
    transition: all .4s;

    i {
        font-size: 28px;
        margin: 0 auto;
    }

    &.active {
        color: #838C92;
    }

    &.big {
        width: 88px;
        height: 88px;
        background: url('../data/album.jpg') no-repeat;
        background-size: contain;

        i {
            font-size: 36px;
        }
    }

    &.medium {
        width: 16px;
        height: 50px;

        i {
            font-size: 15px;
        }
    }

    &.volume {
        width: 40px;
    }

    &:disabled {
        opacity: .5;
    }
}

.fa-forward {
    display: block;
    width: 16px;
    height: 16px;
    background: url($uri-next) no-repeat;
    background-size: contain;
}

.fa-backward {
    display: block;
    width: 16px;
    height: 16px;
    background: url($uri-prev) no-repeat;
    background-size: contain;
}

.fa-play {
    display: block;
    width: 16px;
    height: 16px;
    background: url($uri-play) no-repeat;
    background-size: contain;
}

.fa-pause {
    display: block;
    width: 16px;
    height: 16px;
    background: url($uri-pause) no-repeat;
    background-size: contain;
}

.player-controls {
    width: 120px;
    z-index: 2;
    .player-btn {
        color: #D9D9D9;
    }
}

.hide {
    display: none !important;
}

.audio-interface.hide-opacity{
    opacity: 0;
}

.audio-interface {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

/* -- container -- */
.rodal,
.rodal-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.rodal {
    position: fixed;
}

/* -- mask -- */
.rodal-mask {
    position: absolute;
    background: rgba(0, 0, 0, 0);
}

/* -- dialog -- */
.rodal-dialog {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
    padding: 15px;
    background: #fff;
}

/* -- close button -- */
.rodal-close {
    position: absolute;
    cursor: pointer;
    font-family: bentonsansregular;
    text-decoration: underline;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.rodal-close:before,
.rodal-close:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.rodal-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rodal-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rodal-close:hover:before,
.rodal-close:hover:after {
    background: #333;
}

/* -- fade -- */
@-webkit-keyframes rodal-fade-enter {
    from {
        opacity: 0;
    }
}

@keyframes rodal-fade-enter {
    from {
        opacity: 0;
    }
}

.rodal-fade-enter {
    -webkit-animation: rodal-fade-enter both ease-in;
    animation: rodal-fade-enter both ease-in;
}

@-webkit-keyframes rodal-fade-leave {
    to {
        opacity: 0
    }
}

@keyframes rodal-fade-leave {
    to {
        opacity: 0
    }
}

.rodal-fade-leave {
    -webkit-animation: rodal-fade-leave both ease-out;
    animation: rodal-fade-leave both ease-out;
}

/* -- zoom -- */
@-webkit-keyframes rodal-zoom-enter {
    from {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes rodal-zoom-enter {
    from {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

.rodal-zoom-enter {
    -webkit-animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-zoom-leave {
    to {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes rodal-zoom-leave {
    to {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

.rodal-zoom-leave {
    -webkit-animation: rodal-zoom-leave both;
    animation: rodal-zoom-leave both;
}

/* -- slideDown -- */
@-webkit-keyframes rodal-slideDown-enter {
    from {
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}

@keyframes rodal-slideDown-enter {
    from {
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}

.rodal-slideDown-enter {
    -webkit-animation: rodal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideDown-leave {
    to {
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}

@keyframes rodal-slideDown-leave {
    to {
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}

.rodal-slideDown-leave {
    -webkit-animation: rodal-slideDown-leave both;
    animation: rodal-slideDown-leave both;
}

/* -- slideLeft -- */
@-webkit-keyframes rodal-slideLeft-enter {
    from {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
}

@keyframes rodal-slideLeft-enter {
    from {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
}

.rodal-slideLeft-enter {
    -webkit-animation: rodal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideLeft-leave {
    to {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
}

@keyframes rodal-slideLeft-leave {
    to {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
}

.rodal-slideLeft-leave {
    -webkit-animation: rodal-slideLeft-leave both;
    animation: rodal-slideLeft-leave both;
}

/* -- slideRight -- */
@-webkit-keyframes rodal-slideRight-enter {
    from {
        -webkit-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
    }
}

@keyframes rodal-slideRight-enter {
    from {
        -webkit-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
    }
}

.rodal-slideRight-enter {
    -webkit-animation: rodal-slideRight-enter both linear;
    animation: rodal-slideRight-enter both linear;
}

@-webkit-keyframes rodal-slideRight-leave {
    to {
        -webkit-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
    }
}

@keyframes rodal-slideRight-leave {
    to {
        -webkit-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
    }
}

.rodal-slideRight-leave {
    -webkit-animation: rodal-slideRight-leave both;
    animation: rodal-slideRight-leave both;
}

/* -- slideUp -- */
@-webkit-keyframes rodal-slideUp-enter {
    from {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
}

@keyframes rodal-slideUp-enter {
    from {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
}

.rodal-slideUp-enter {
    -webkit-animation: rodal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideUp-leave {
    to {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
}

@keyframes rodal-slideUp-leave {
    to {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
}

.rodal-slideUp-leave {
    -webkit-animation: rodal-slideUp-leave both;
    animation: rodal-slideUp-leave both;
}

/* -- flip -- */
@-webkit-keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.rodal-flip-enter {
    -webkit-animation: rodal-flip-enter both ease-in;
    animation: rodal-flip-enter both ease-in;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

@-webkit-keyframes rodal-flip-leave {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    }
}

@keyframes rodal-flip-leave {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    }
}

.rodal-flip-leave {
    -webkit-animation: rodal-flip-leave both;
    animation: rodal-flip-leave both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

/* -- rotate -- */
@-webkit-keyframes rodal-rotate-enter {
    from {
        -webkit-transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
        transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
    }
}

@keyframes rodal-rotate-enter {
    from {
        -webkit-transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
        transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
    }
}

.rodal-rotate-enter {
    -webkit-animation: rodal-rotate-enter both;
    animation: rodal-rotate-enter both;
    -webkit-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes rodal-rotate-leave {
    to {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
        transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
    }
}

@keyframes rodal-rotate-leave {
    to {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
        transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
    }
}

.rodal-rotate-leave {
    -webkit-animation: rodal-rotate-leave both;
    animation: rodal-rotate-leave both;
    -webkit-transform-origin: center;
    transform-origin: center;
}

/* -- door -- */
@-webkit-keyframes rodal-door-enter {
    from {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
}

@keyframes rodal-door-enter {
    from {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
}

.rodal-door-enter {
    -webkit-animation: rodal-door-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-door-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-door-leave {
    60% {
        -webkit-transform: scale3d(.01, 1, 1);
        transform: scale3d(.01, 1, 1);
    }
    to {
        -webkit-transform: scale3d(0, 1, .1);
        transform: scale3d(0, 1, .1);
    }
}

@keyframes rodal-door-leave {
    60% {
        -webkit-transform: scale3d(.01, 1, 1);
        transform: scale3d(.01, 1, 1);
    }
    to {
        -webkit-transform: scale3d(0, 1, .1);
        transform: scale3d(0, 1, .1);
    }
}

.rodal-door-leave {
    -webkit-animation: rodal-door-leave both;
    animation: rodal-door-leave both;
}


@media screen and (max-width: 39.9375em) {
    .rodal-dialog {
        width: 100%;
    }
}
@media screen and (min-width: 40em) {
    .rodal-dialog {
        width: 50%;
    }
}

.rodal-content {
    font-family: bentonsansregular;
    margin: 100px 30px;
}

.rodal-content a {
    color: #000;

    &:hover {
        color: #555;
    }
}

.subscribe__links {
    position: absolute;
    list-style: none;
    display: inline;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 39.9375em) {
    .subscribe__links {
        top: 0;
    }

    #canvas {
        z-index: 1;
    }

    //body {
    //    background: url('../data/mobile-bg.jpg') no-repeat #000000;
    //    background-size: cover;
    //}

}
@media screen and (min-width: 40em) {
    .subscribe__links {
        bottom: 0;
    }

    #absolute {
        z-index: -1;
        display: block;
    }
}

.follow {
    -webkit-filter: saturate(0%) grayscale(100%) brightness(69%) contrast(400%);
}

.links__item {
    display: inline;
}

